#dropdown-basic::after {
  display: none;
}
#checkBox {
  background-color: #f4f0e3;
}

.buttonPage {
  background-color: #fcf9f2 !important;
  color: black !important;
}

.how-img{
  width: 70%;
}

.filter{
  display: flex;
  display: inline;

}

.MaxText{
  font-family: "Nunito Sans";
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
color: #303030
}

.CoinSummary{
  font-family:"Nunito Sans";
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 18px;
color: #313131;
}

.InviteFriend{
  font-family:"Nunito Sans";
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17.57px;
color: #FDBF00;
}
.Referal{
  font-family:"Nunito Sans";
font-style: normal;
}

.customModal{
  min-width: 95%;
}

.colorModal{
  background: #F4F0E3;
  justify-content: flex-end !important;
  border-bottom: 0 !important;
}

.closeButton{
  background: #FCF9F2 !important;
  
}