.form3 {
  /* width:  338px!important; */
  height: 65px !important;
  /* border: 1px solid #d9d8dd; */
  /* box-sizing: border-box; */
  border-radius: 0 !important;
}

.button2 {
  font-family: "Nunito Sans" !important;
  height: 40px !important;
  background-color: #fdbf00 !important;
  color: #181818 !important;
  border-radius: 0 !important;
}
.react-share__ShareButton {
  box-shadow: none;
}
p {
  font-size: 18px;
}

@media only screen and (max-width: 430px) {
  .cardCol {
    min-height: 400px;
  }
}
@media only screen and (min-width: 1501px) {
  .cardCol {
    max-width: 500px;
    margin-left: 6rem !important;
    margin-right: 3rem !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .cardCol {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}

@media only screen and (min-width: 1023px) {
  .cardCol {
    position: relative;
    bottom: 19%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .cardCol {
    position: relative;
    bottom: 12%;
  }
}

@media only screen and (min-width: 767px) and (max-width: 786px) {
  .cardCol {
    position: relative;
    bottom: 6%;
  }
}

@media only screen and (max-width: 767px) {
  .cardCol {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 766px) {
  .cardCol {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
