.header1 {
  background-color: #f4f0e3;
}
.headerbtn {
  list-style-type: none;
  align-items: right;
  display: flex;
  justify-content: space-around;
  color: "#505F98";
  font-size: 25px;
}
@media only screen and (max-width: 1034px) and (min-width: 992px) {
  .button {
    background-color: #fdbf00 !important;
    color: black !important;
    border: none !important;
    border-radius: 0 !important;
    min-width: 148px;
    min-height: 46px;
  }
}
@media not screen and (max-width: 1034px) and (min-width: 992px) {
  .button {
    background-color: #fdbf00 !important;
    color: black !important;
    border: none !important;
    border-radius: 0 !important;
    min-width: 200px;
    min-height: 46px;
  }
}
/* .button {
  background-color: #fdbf00 !important;
  color: black !important;
  border: none !important;
  border-radius: 0 !important;
  min-width: 148px;
  width: 200px;
  min-height: 46px;
} */

.table {
  border-collapse: separate;
  border-spacing: 0 20px;
  text-align: center;
}

thead {
  background-color: #ddede0;
}

tbody {
  background-color: #fcf9f2;
}

.p1 {
  color: #fdbf00;
}

.footerbtn {
  list-style-type: none;
}

.link {
  color: black;
}
.font {
  font-family: "Nunito Sans", sans-serif;
}

.btn-label {
  position: relative;
  left: -10px;
  display: inline-block;
  padding: 5px 10px;
  background: #f4f0e3;
  border-radius: 3px 0 0 3px;
}

.accounts {
  margin-bottom: -0.5rem;
}

.footerBtnSocial {
  background-color: #fdbf00 !important;
  color: black !important;
  border: none !important;
  border-radius: 3px !important;
  min-width: 158px !important;
  padding: 1px !important;
}

.opera {
  left: -10px;
}
.edge {
  left: -10px;
}

.firefox {
  left: -9px;
}

.footerHeading {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  color: #202020;
}

.footerText {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #303030;
}
