.formText {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #303030;
}
.buttond {
  font-family: "Nunito Sans" !important;
  border-color: #fdbf00;
  /* width: 232px !important; */
  height: 40px !important;
  background-color: #fdbf00 !important;
  color: #303030 !important;
}

.form {
  width: 426px;
  height: 65px !important;
  border: 1px solid #d9d8dd;
  box-sizing: border-box;
  border-radius: 2px;
}

.forgotpassword {
  color: #fbaa26;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
}

.para1 {
  color: #fdbf00;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.giftcard {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.para2 {
  color: #5e5e5e;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.buttond2 {
  font-family: "Nunito Sans" !important;
  border-color: #fdbf00;
  /* width: 232px !important; */
  height: 40px !important;
  background-color: #fdbf00 !important;
  color: #303030 !important;
  justify-content: center;
}
