.form3 {
  max-width: 400px !important;
  height: 65px !important;
  border-radius: 0 !important;
}

.button2 {
  font-family: "Nunito Sans" !important;
  min-width: 250px;
  min-height: 40px;
  background-color: #fdbf00 !important;
  color: #181818 !important;
  border-radius: 0 !important;
  color: #181818;
  font-family: Nunito Sans;
}
.paragraph {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.heading1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
}

.heading2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 41px;
}

.heading3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.heading4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.cointext {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
}

@media only screen and (min-width: 570px) {
  .imgSuccess {
    margin-left: 100px !important;
  }
}

@media only screen and (max-width: 988px) and (min-width: 570px) {
  .imgPending {
    margin-left: 112px !important;
  }
  .imgSuccess {
    margin-left: 100px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media only screen and (max-width: 570px) and (min-width: 431px) {
  .imgPending {
    margin-left: 10px !important;
  }

  .imgSuccess {
    padding-bottom: 0px !important;
  }
}

@media only screen and (max-width: 430px) and (min-width: 200px) {
  .imgPending {
    margin-left: 10px !important;
  }
  .imgSuccess {
    padding-bottom: 0px !important;
  }
}

@media only screen and (max-width: 345px) and (min-width: 200px) {
  .imgPending {
    margin-left: 10px !important;
  }
  .cointext {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 42px;
  }
  .imgSuccess {
    padding-bottom: 0px !important;
  }
}

.coinsDown {
  position: relative;
  top: 11%;
}

@media only screen and (max-width: 1981px) and (min-width: 1480px) {
  .eForm {
    margin-left: 39% !important;
  }
}
@media only screen and (min-width: 1982px) {
  .eForm {
    margin-left: 42% !important;
  }
}
