.containerColour {
  background-color: #e5e5e5;
}

/* .button2{
    font-family: "Nunito Sans" !important;
    background-color: #fdbf00 !important;
    color: #181818 !important;
  } */

.logoutTest {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 150% !important;
  color: #5e5e5e !important;
}

.logoutButton {
  font-family: "Nunito Sans" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 28px !important;
  color: #181818 !important;
  padding-left: 20% !important;
  background-color: #fdbf00 !important;
  min-width: 210px;
}
.loggedLink {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  color: #fbaa26;
}

.modal-header {
  padding: 0px !important;
}

.modal-body {
  padding: 0px !important;
}

@media only screen and (max-width: 770px) and (min-width: 430px) {
  .cardLogout {
    height: 400px;
    margin-top: 4%;
  }
}

@media only screen and (max-width: 430px) and (min-width: 200px) {
  .cardLogout {
    height: 300px;
    margin-top: 5%;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1880px) {
  .cardLogout {
    max-width: 550px;
  }
}

.tug {
  width: 100%;
}
