.profile {
  list-style-type: none;
}

.form {
  /* width:  426px; */
  height: 56px !important;
  border: 1px solid #d9d8dd;
  box-sizing: border-box;
  border-radius: 2px;
}

.form2 {
  /* width:  338px!important; */
  height: 56px !important;
  border: 1px solid #d9d8dd;
  box-sizing: border-box;
  border-radius: 2px;
}

.button2 {
  font-family: "Nunito Sans" !important;

  /* height: 40px !important; */
  background-color: #fdbf00 !important;
  color: #181818 !important;
}
.link {
  color: #000000;
}
.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 62px;
  line-height: 72px;
  /* identical to box height, or 116% */

  letter-spacing: -0.03em;
}

.box1 {
  /* width: 450px !important; */
  height: 431px !important;
}

.box2 {
  /* width: 450px !important; */
  height: 462px !important;
}

.box3 {
  /* width: 450px !important; */
  height: 290px !important;
}
.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.customModal2 {
  min-width: 70% !important;

  /* min-width: 78% !important; */
}
.colorModal {
  background: #e5e5e5 !important;
  justify-content: flex-end !important;
  border-bottom: 0 !important;
}

.closeButton {
  background: #fcf9f2 !important;
}

.line1 {
  border-left: 4px solid #fa7269;
}

.line2 {
  border-left: 4px solid #50bfa5;
}

.line3 {
  border-left: 4px solid #fa7269;
}

.phoneText {
  width: 207px;
  min-width: 64%;
  /* position: absolute; */
}
