/* .header {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: "#505F98";
  font-size: 14px;
  font-family: "Nunito Sans";
} */

.text {
  font-family: "Nunito Sans" !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px;
  color: #000000 !important;
}

.button {
  font-style: normal !important;
  font-weight: bold !important;
  color: #303030 !important;
  font-family: "Nunito Sans" !important;
  background-color: #fdbf00 !important;
  border: 0 !important;
  border-radius: 0 !important;
  max-width: 191px;
  max-height: 50px;
}

.footer {
  list-style-type: none;
  align-items: right;
  display: flex;
  justify-content: space-around;
  color: "#505F98";
}

.copyrights {
  color: #5e5e5e;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.footertext {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #5e5e5e;
}
