.formText {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #303030;
}
.buttond {
  font-family: "Nunito Sans" !important;
  border-color: #fdbf00;
  /* width: 232px !important; */
  height: 40px !important;
  background-color: #fdbf00 !important;
  color: #303030 !important;
}

.formField {
  /* width:  426px; */
  height: 65px !important;
  max-width: 426px !important;
  border: 1px solid #d9d8dd;
  box-sizing: border-box;
  /* border-radius: 2px; */

  border-radius: 0 !important;
}
.passwordValidation {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #fbaa26;
}

.termsCondition {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #303030;
}
.termsCondition2 {
  color: #fbaa26;
}

.forgotpassword {
  color: #fbaa26;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
}

.para1 {
  color: #fdbf00;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.giftcard {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.para2 {
  color: #5e5e5e;
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 14px;
  text-align: center;
}

.buttond2 {
  font-family: "Nunito Sans" !important;
  width: 232px !important;
  height: 40px !important;
  color: #303030 !important;
  justify-content: center;
}

.customStyle {
  bottom: 0px;
}

.fix-img {
  max-width: 200%;
}
