body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.customButton {
  font-family: "Nunito Sans" !important;
  background-color: #fdbf00 !important;
  /* max-width: 232px !important; */
  /* border: 0 !important; */
  border-radius: 0 !important;
  color: #181818 !important;
  box-shadow: none !important;

  text-align: center;
  width: 100%;
  max-width: 232px;
  height: auto;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  border: none;
}

.formField {
  /* width:  426px; */
  height: 65px !important;
  max-width: 426px !important;
  border: 1px solid #d9d8dd;
  box-sizing: border-box;
  /* border-radius: 2px; */
  border-radius: 0 !important;
}
